.right-arrow {
  background-image:url("./images/icons/right_arrow_icon.png");
}

.logo_red {
  background-image:url("./images/logo_regard_simple_rouge.png");
}

.play_button {
  background-image:url("./images/icons/play_button_icon.png");
}

.hourglass {
  background-image:url("./images/icons/hourglass_icon.png");
}
