a.facebook {
  background-image: url("./images/icons/social_facebook_icon.png");
}

a.twitter {
  background-image: url("./images/icons/social_twitter_icon.png");
}

a.instagram {
  background-image: url("./images/icons/social_instagram_icon.png");
}

a.vimeo {
  background-image: url("./images/icons/social_vimeo_icon.png");
}

a.linkedin {
  background-image: url("./images/icons/social_linkedin_icon.png");
}

a.flickr {
  background-image: url("./images/icons/social_flickr_icon.png");
}
